@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Global Styles */

:root {
    --primary-color: #0F3D70;
    --secondary-color: #0559ce;
    --tertiary-color: #001533;
    --fourth-color: #ccc;
    --fifth-color: #777;
    --sixth-color: #E4E4E4;
}

body, input, button, a {
    font-family: 'Ubuntu', sans-serif;
}



/* Landing page */

.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    padding: 20px;
    background-color: #fff;
    max-width: 400px;
    max-height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    align-items: center;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.landing-page-header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-logo {
    width: 120px; 
}

.welcome-gif{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landing-page-main {
    text-align: center;
}

.welcome-msg-lp {
    font-size: 2rem; 
    color: #000;
    margin-bottom: 1rem;
}

.landing-page-tagline {
    font-size: 1rem; 
    color: #666;
    margin-bottom: 2rem;
}

.landing-page-button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
}

.create-account-btn {
    background-color: var(--primary-color); 
}

.create-account-btn-link {
    color: #fff;
    text-decoration: none;
}

.create-account-btn-link :hover {
    background-color: var(--secondary-color);
}


.login-btn {
    background-color: #f8f8f8; 
}

.login-account-btn-link{
    color: #333;
    text-decoration: none;
}

/* Adjusts the padding for smaller screens */
@media (max-width: 600px) {
    .landing-page-button {
        padding: 0.8rem 1.5rem;
    }
}

/* Adjusts the font size for smaller screens */
@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }

    .landing-page-tagline {
        font-size: 0.9rem;
    }
}









/* Login Page*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    background-color: #fff;
    max-width: 400px;
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    align-items: center;
    border-radius: 0.5rem;
    margin-top: 2rem;

}



.bank-header {
    margin-bottom: 2rem;
}

.logo {
    width: 260px; 
}

.bank-main {
    width: 100%;
    max-width: 340px;
}

.bank-welcome-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333; 
    text-align: center;
}

.bank-tagline {
    margin-bottom: 2rem;
    color: #001533; 
    text-align: center;
}

.bank-account-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-icon-wrapper {
    position: relative;
}

.bank-account-input {
    font-size: 1rem;
    padding: 0.5rem;
    padding-right: 2rem; 
    margin-bottom: 1rem;
    border: 1px solid #d2c2c2;
    border-radius: 0.25rem;
    text-align: center;
    width: 100%; 
}

.fa-fingerprint {
    position: absolute;
    right: 10px; 
    top: 35%;
    transform: translateY(-50%);
    color: #0F3D70;
    font-size: 1.25rem; 
}


.bank-login-btn {
    padding: 0.5rem;
    background-color: #0F3D70; 
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

.link-dashboard{
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.bank-balance-info {
    display: flex;
    flex-direction: row;
    max-width: 340px;
    gap: 1rem;
}

.bank-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #E4E4E4; 
    padding: 1rem;
    border-radius: 0.25rem;
    max-width: 152px;
    gap: .4rem;
}

.bank-balance-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
}

.bank-balance-input {
    font-size: 1.25rem;
    border: none;
    background: none;
    margin-bottom: 0.25rem;
    text-align: center;
}

.bank-balance-description {
    font-size: .6rem;
    color: #777;
}

/* Hide Balance Switch */
.bank-balance-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    
}

.bank-hide-balance-checkbox {
    display: none; 
}

.bank-balance-switch-txt {
    font-size: 0.8rem;
    color: var(--tertiary-color);
    margin-right: 0.5rem;
}

.bank-slider {
    position: relative;
    display: block;
    width: 3.3rem; 
    height: 1.75rem; 
    background-color: #ccc;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 2.6px solid var(--tertiary-color);
}

.bank-slider.bank-round:before {
    position: absolute;
    content: '';
    height: 1.05rem;
    width: 1.05rem;
    left: 0.06rem;
    top: 0.04rem;
    background-color: white;
    border: 2.6px solid var(--tertiary-color);
    transition: transform 0.2s;
    border-radius: 50%;
}

.bank-hide-balance-checkbox:checked + .bank-slider {
    background-color: #0F3D70;
}

.bank-hide-balance-checkbox:checked + .bank-slider.bank-round:before {
    transform: translateX(1.25rem);
}

.bank-alt-account-link {
    color: #001533;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-style: italic;
    text-align: center;
}

.link-switch-account{
    color: #0559ce;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 1rem;

}

.fa-building-columns {
    color: #0F3D70; 
    font-size: 17px; 
    margin-right: 8px; 
}

.fa-piggy-bank {
    color: #0F3D70; 
    font-size: 17px; 
    margin-right: 8px; 
}



/* Responsive Design login page*/

@media (max-width: 600px) {
    .container {
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}




/* Create Account Page */

.create-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    background-color: #fff;
    max-width: 400px;
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    border-radius: 0.5rem;
    margin-top: 2rem;
    border-radius: 24px; 
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15); 
}

.create-account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

.back-button {
    color: white;
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.skip-button{
    color: var(--primary-color);
text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.create-account-content {
    flex-grow: 1;
    padding: 2rem;
    text-align: center;
}

.create-account-image {
    max-width: 80%;
    height: auto;
    margin: 0 ;
}

.C-A-P1-h2 {
    color: var(--tertiary-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    display: flex;
}

.C-A-P1-p {
    display: flex;
    color: var(--fifth-color);
    margin-bottom: 2rem;
    font-size: 1rem;
}

.C-A-P1-footer{
    display: flex;
    justify-content:space-between;
    margin-top: 4rem;
    align-items: center;
}

.indicator-dots {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: var(--fourth-color);
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.dot.active {
    background-color: var(--secondary-color);
    width: 30px;
    border-radius: 20px;
}

.next-button {
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    
    text-align: center;
    display: flex;
    align-content: center;
    
}

.next-button:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .create-account-header {
        padding: 1rem 0.5rem;
    }

    .create-account-image {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .create-account-content {
        padding: 1rem;
    }

    .next-button {
        padding: 0.8rem 3rem;
    }
}


/* Create Account Page 2 */




/*Dashboard*/

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    max-width: 400px; 
    margin: 0 auto; 
    border-radius: 24px; 
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15); 
    overflow-x: hidden;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--primary-color);
    border-top-left-radius: 24px; 
    border-top-right-radius: 24px;
}

.dashboard-logout-link {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
}

.fa-right-from-bracket {
    margin-right: 0.5rem; 
    rotate: 180deg; 
    font-size: 1.6rem; 
}

.dashboard-logo {
    width: 90px; 
    height: auto;
    align-self: center;
}

.dashboard-user{
    margin-right: 1rem;
}

.dashboard-user-avatar {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
}

.dashboard-welcome {
    display: flex;
    flex-direction: row-reverse;
margin: 0 .5rem 0 .5rem;
    gap: 1rem;
}

.dashboard-welcome h2 {
    color: var(--primary-color);
    font-size: 1.2rem; 
    margin-top: 1rem; 
}

.dashboard-account-type {
    color: #85B7FF;

    margin-bottom: .5rem; 
    font-size: 1.2rem; 
}

.dashboard-account-number {
    color: #fff;
    font-size: 0.8rem; 
    margin-bottom: 1rem; 
}

.account-summary {
    background-color: var(--primary-color);
    margin: 1rem; 
    padding: 1rem;
    border-radius: 12px; 
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; 
}

.account-card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.account-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.account-balance p {
    font-weight:500;
    font-size: 1.2rem; 
    color: #fff;
    margin-bottom: 0.7rem; 
    padding: 0;
}

.dashboard-bank-balance-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: .8rem;

}


.dashboard-actions {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 7rem; 
    margin-left: .5rem;
    margin-right: .5rem;
}

.action-item {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23rem;
}

.fa-wallet {
    color: #0066F6;
    font-size: 2rem;
    background-color: #E4E4E4;
    padding: .6rem;
    border-radius: 50%;
}

.fa-money-bill-trend-up{
    color: #0066F6;
    font-size: 2rem;
    background-color: #E4E4E4;
    padding: .6rem;
    border-radius: 50%;
}

.action-item-payee {
    background: #FFF1D1;
    padding: 1rem;
    margin-bottom: 1rem; 
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-align: center;
    width: 11rem;
    height: 4.5rem;
}

.fa-file-invoice-dollar{
    color: #FFB800;
    font-size: 2rem;
}

.payee-txt{
    color: #5E5E5E;
    font-size: .9rem;
    margin-left: 2rem;
}

.action-item-transfer {
    background: #D5F6EE;
    padding: 1rem;
    margin-bottom: 1rem; 
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-align: center;
    width: 11rem;
    height: 4.5rem;
}

.fa-money-bill-transfer{
    color: #36C4A2;
    font-size: 1.6rem;
}

.transfer-txt{
    color: #5E5E5E;
    font-size: .9rem;
    margin-left: .1rem;
}

.action-box-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem 0 1rem;
    gap: 1rem;
}

.bank-balance-input{
    font-size: .9rem;
    border: none;
    background: none;
    margin-bottom: 0.25rem;
    text-align: center;
}



.action-item i {
    margin-right: 1rem; 
}

.dashboard-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    position: fixed; /* fixed to the bottom */
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem; 
    color: var(--fifth-color);
}

.nav-item.active, .nav-item:hover {
    color: var(--primary-color);
}

.nav-item i {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

/* Responsive styles */
@media (max-width: 768px) {
    .dashboard-container {
        max-width: 100%; 
        margin: 0;
        border-radius: 0; /* no rounded corners on small devices */
    }
    .dashboard-header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .dashboard-nav {
        bottom: 0; /* Ensure nav stays at the bottom */
        left: 0;
        right: 0; 
    }
}