@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */

:root {
    --primary-color: #0F3D70;
    --secondary-color: #0559ce;
    --tertiary-color: #001533;
    --fourth-color: #ccc;
    --fifth-color: #777;
    --sixth-color: #E4E4E4;
}

body, input, button, a {
    font-family: 'Ubuntu', sans-serif;
}



/* Landing page */

.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #fff;
}

.landing-page-header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-logo {
    width: 120px; /* Adjust as necessary */
}

.welcome-gif{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landing-page-main {
    text-align: center;
}

.welcome-msg-lp {
    font-size: 2rem; /* Adjust as necessary */
    color: #000;
    margin-bottom: 1rem;
}

.landing-page-tagline {
    font-size: 1rem; /* Adjust as necessary */
    color: #666;
    margin-bottom: 2rem;
}

.landing-page-button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    width: 100%; /* Makes the button full width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    transition: background-color 0.3s ease;
}

.create-account-btn {
    background-color: var(--primary-color); /* Adjust as necessary */
}

.create-account-btn-link {
    color: #fff;
    text-decoration: none;
}

.create-account-btn-link :hover {
    background-color: var(--secondary-color) /* Adjust as necessary */
}


.login-btn {
    background-color: #f8f8f8; /* Adjust as necessary */
    color: #333;
}

/* Adjusts the padding for smaller screens */
@media (max-width: 600px) {
    .landing-page-button {
        padding: 0.8rem 1.5rem;
    }
}

/* Adjusts the font size for smaller screens */
@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }

    .landing-page-tagline {
        font-size: 0.9rem;
    }
}









/* Login Page*/
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* Replace with the desired background color */
    overflow-x: hidden;
}

.bank-header {
    margin-bottom: 2rem;
}

.logo {
    width: 260px; /* You may adjust this accordingly */
}

.bank-main {
    width: 100%;
    max-width: 340px; /* Adjust the max-width for different screen sizes */
}

.bank-welcome-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333; /* Replace with the desired color */
    text-align: center;
}

.bank-tagline {
    margin-bottom: 2rem;
    color: #001533; /* Replace with the desired color */
    text-align: center;
}

.bank-account-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-icon-wrapper {
    position: relative;
}

.bank-account-input {
    font-size: 1rem;
    padding: 0.5rem;
    padding-right: 2rem; /* Make room for the icon */
    margin-bottom: 1rem;
    border: 1px solid #d2c2c2;
    border-radius: 0.25rem;
    text-align: center;
    width: 100%; /* Ensure the width fills the container */
}

.fa-fingerprint {
    position: absolute;
    right: 10px; /* Adjust as necessary for proper alignment */
    top: 35%;
    transform: translateY(-50%);
    color: #0F3D70;
    font-size: 1.25rem; /* Adjust icon size as needed */
}


.bank-login-btn {
    padding: 0.5rem;
    background-color: #0F3D70; 
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

.bank-balance-info {
    display: flex;
    flex-direction: row;
    max-width: 340px;
    gap: 1rem;
}

.bank-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #E4E4E4; 
    padding: 1rem;
    border-radius: 0.25rem;
    max-width: 152px;
    gap: .4rem;
}

.bank-balance-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
}

.bank-balance-input {
    font-size: 1.25rem;
    border: none;
    background: none;
    margin-bottom: 0.25rem;
    text-align: center;
}

.bank-balance-description {
    font-size: .6rem;
    color: #777;
}

/* Hide Balance Switch */
.bank-balance-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.bank-hide-balance-checkbox {
    display: none; /* Hide the checkbox */
}

.bank-slider {
    position: relative;
    display: block;
    width: 3rem; /* Width of the slider */
    height: 1.75rem; /* Height of the slider */
    background-color: #ccc;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.bank-slider.bank-round:before {
    position: absolute;
    content: '';
    height: 1.25rem;
    width: 1.25rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    transition: transform 0.2s;
    border-radius: 50%;
}

.bank-hide-balance-checkbox:checked + .bank-slider {
    background-color: #0F3D70;
}

.bank-hide-balance-checkbox:checked + .bank-slider.bank-round:before {
    transform: translateX(1.25rem);
}

.bank-alt-account-link {
    color: #001533;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-style: italic;
    text-align: center;
}

.link-switch-account{
    color: #0559ce;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 1rem;

}

.fa-building-columns {
    color: #0F3D70; /* Change the color */
    font-size: 17px; /* Change the icon size */
    margin-right: 8px; /* Add some space to the right of the icon */
}

.fa-piggy-bank {
    color: #0F3D70; /* Change the color */
    font-size: 17px; /* Change the icon size */
    margin-right: 8px; /* Add some space to the right of the icon */
}



/* Responsive Design login page*/

@media (max-width: 600px) {
    .container {
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}




/* Create Account Page */

.create-account-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

.create-account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

.back-button {
    color: white;
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.skip-button{
    color: var(--primary-color);
text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.create-account-content {
    flex-grow: 1;
    padding: 2rem;
    text-align: center;
}

.create-account-image {
    max-width: 80%;
    height: auto;
    margin: 0 ;
}

.C-A-P1-h2 {
    color: var(--tertiary-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    display: flex;
}

.C-A-P1-p {
    display: flex;
    color: var(--fifth-color);
    margin-bottom: 2rem;
    font-size: 1rem;
}

.C-A-P1-footer{
    display: flex;
    justify-content:space-between;
    margin-top: 4rem;
    align-items: center;
}

.indicator-dots {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: var(--fourth-color);
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.dot.active {
    background-color: var(--secondary-color);
}

.next-button {
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    
    text-align: center;
    display: flex;
    align-content: center;
    
}

.next-button:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .create-account-header {
        padding: 1rem 0.5rem;
    }

    .create-account-image {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .create-account-content {
        padding: 1rem;
    }

    .next-button {
        padding: 0.8rem 3rem;
    }
}


